Dbody {
    font-family: 'OPen Sans', Arial;
    sans-serif;
    background-color: #f9f9f9;
    color: #222324
}

header {
    text-align: center;
    padding: 30px 10px 10px;
    background: #fff;
}

.logo {
    width: 80px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.tagline {
    color: #ffcc00;
    font-size: 1.1em;
    margin: 5px 0 15px;
    font-weight: bold;
}

nav {
    background-color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: #356bf3;
}

nav a:hover {
    color: #f7b500;
}

button, .accent{
    background: #f7b500
    color: #fff;
    border: none;
    font-family: 'Montserrat', Arial,
sans-serif;
    padding: 8px 16px;
    border-redius: 4px;
    cersor: pointer;
}

section {
    max-width: 800px;
    margin: 30px auto 20px;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 14px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.07);
}

h1, h2 {
    font-family:'Montserrat', Arial,
        sans-serif;
    color: #356bf3;
}

.service-list {
    list-style: none;
    padding-left: 0;
}

.service-list li {
    padding: 8px 0;
    font-size: 1.07em;
}

footer {
    text-align: center;
    font-size: 0.95em;
    background: #222;
    color: #ffcc00;
    padding: 20px 10px;
    margin-top: 40px;
    border-top: 2px solid #ffcc00;
}


